.ts-keyword, .ts-variable-builtin, .ts-punctuation-delimiter {
    color: #cb7832;
}

.ts-function {
    color: #ffc66d;
}

.ts-property, .ts-constructor {
    color: #9876aa;
}

.ts-string {
    color: #6a8759;
}

.ts-type, .ts-function-method, pre {
    color: #A9B7C6;
}

code {
    color: #A9B7C6 !important;
    background: #24262a !important;
}

pre code {
    background: #151515 !important;
}